$c-blue: #2F85EB;
$c-blue-bright: #0074FF;
$c-blue-dark: #123763;
$c-blue-light: #DAEBFF;
$c-grey: #6D6D6D;
$c-grey-dark: #343434;
$c-grey-light: #c7c6c6;
$c-black: #000;
$c-orange: #FF8A20;
$c-white: #fff;


